body {
    background-color: rgb(39, 120, 134);
    color: rgb(63, 6, 6);
    font-family: "Edu AU VIC WA NT Pre", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(171, 223, 223);
    color: rgb(31, 82, 65);
    font-family: "Edu AU VIC WA NT Pre", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}